<footer id="colophon" role="contentinfo">
  <div class="left">
    <div class="nav-menu">
      <ul>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
        {% if page.title and page.ignore_from_menu == nil %}
        <li class="page-item">
          <a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="site-info">
    <p>&copy; {{ site.title }} 2016. Please contact to use any material on this website.</p>
  </div><!-- .site-info -->
</footer><!-- #colophon -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
<script src='{{ site.baseurl }}/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<script src={{ "/js/ayoshare.js" | prepend: site.baseurl }}></script>        
  <script>
    $(function() {
        $(".social-share-url").each(function() {
          var share_url = $(this).data("url");
          var share_description = $(this).data("description");
          var share_image = $(this).data("image")
          $(this).ayoshare(
            url = share_url,
            description = share_description,
            image = share_image,
            google = true,
            stumbleupon = false,
            facebook = true,
            linkedin = false,
            pinterest = true,
            bufferapp = false,
            reddit = false,
            vk = false,
            pocket = false,
            twitter = true
          );
        });
    });
    $(function() {
        $("#social-share").ayoshare(
            url = location.href,
            description = $(this).data("description"),
            image = $(this).data("image"),
            google = true,
            stumbleupon = false,
            facebook = true,
            linkedin = false,
            pinterest = true,
            bufferapp = false,
            reddit = false,
            vk = false,
            pocket = false,
            twitter = true
        );
    });
  </script>
