<footer id="colophon" role="contentinfo">
  <div class="left">
    <div class="nav-menu">
      <ul>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
        {% if page.title %}
        <li class="page-item">
          <a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="site-info">
    <p>&copy; {{ site.title }} 2016. Please contact to use any material on this website.</p>
  </div><!-- .site-info -->
</footer><!-- #colophon -->

<script src={{ "/js/ayoshare.js" | prepend: site.baseurl }}></script>        
  <script>
    $(function() {
        $(".social-share-url").each(function() {
          var share_url = $(this).data("url");
          $(this).ayoshare(
            url = share_url,
            google = true,
            stumbleupon = false,
            facebook = true,
            linkedin = false,
            pinterest = true,
            bufferapp = false,
            reddit = false,
            vk = false,
            pocket = false,
            twitter = true
          );
        });
    });
    $(function() {
        $("#social-share").ayoshare(
            url = location.href,
            google = true,
            stumbleupon = false,
            facebook = true,
            linkedin = false,
            pinterest = true,
            bufferapp = false,
            reddit = false,
            vk = false,
            pocket = false,
            twitter = true
        );
    });
  </script>
