<div id="side-header">
  <h1>
    <a href="/"><img class="header-image" src={{ "/img/logo-goodiesavolonte.png" | prepend: site.baseurl }} width="298" height="227" alt="" /></a>
  </h1>
  <div id="social-links">
    <a href="http://facebook.com/{{ site.facebook_username }}" title="Facebook"><img src={{ "/img/facebook.png" | prepend: site.baseurl }} width="32" height="32"></a>
    <a href="http://pinterest.com/{{ site.pinterest_username }}" title="Pinterest"><img src={{ "/img/pinterest.png" | prepend: site.baseurl }} width="32" height="32"></a>
    <a href="http://plus.google.com/{{ site.googleplus_username }}" title="Google+"><img src={{ "/img/googleplus.png" | prepend: site.baseurl }} width="32" height="32"></a>
    <a href="feed" title="RSS"><img src={{ "/img/rss.png" | prepend: site.baseurl }} width="32" height="32"></a>
  </div>
</div>

<aside id="recent-posts" class="widget widget_recent_entries">
  <h3 class="widget-title">Recent Posts</h3>
  <ul>
  {% for post in site.posts limit:site.recent_posts_limit %}
    <li><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</aside>

<aside id="categories" class="widget widget_categories">
  <h3 class="widget-title">Categories</h3>
  <ul>
    {% for cat in site.categories %}
    {% assign cat_name = cat | first %}
    <li class="cat-item"><a href="{{ site.baseurl }}/recipes/#{{ cat_name }}">{{ cat_name | capitalize }}</a></li>
    {% endfor %}
  </ul>
</aside>

{% if site.enable_adsense %}
<aside class="widget widget_text">
  <div class="textwidget">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar-300x250 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-3315919843376146"
         data-ad-slot="7872542913"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</aside>
{% endif %}