---
layout: default
---
<article class="post">

  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
  </header>

  <div class="entry-content">
    {{ content }}
  </div>

  <footer class="entry-meta">
    Posted in
    {% for category in page.categories %}
    <a href="{{ site.baseurl }}/recipes/#{{ category }}">{{ category | capitalize }}</a>
    {% endfor %}
    on <span class="entry-date">{{ page.date | date_to_long_string }}</span>
    with tags 
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/recipes/#{{ tag }}">{{ tag | capitalize }}</a>
    {% endfor %}
  </footer>

</article>
